<h1><%= @cocktails.name%></h1>

<% @cocktails.doses.each do |dose| %>
  <%= dose.ingredient.name %> : <%= dose.description %>
  <%= link_to 'Delete', dose_path(dose), method: :delete %>
  <br>
  <% end %>

  <br>

<%= link_to 'Back to Cocktails', cocktails_path %>

<br>
<%= link_to 'Add Ingredients', new_cocktail_dose_path(@cocktails) %>






